/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Variáveis */
:root {
    --vermelho: #F54927;
    --azulMedio: #3498db;
    --branco: #fff;
    --cinzaClaro: #4cd6f5;
    --cinzaMedio: #a1a1a1;
    --cinzaEscuro: #343538;
    --dourado: #ffc90e;
    --preto: #000;
    --rosa: #bc82b6;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: var(--preto);
    padding: 10px 40px;
    color: var(--dourado);
    border-radius: 25px;
    border: 2px solid var(--cinzaClaro);
}

/* CARTAO */
.card {
    width: 341px;
    height: 450px;
    margin-bottom: 25px;
    border: 2px solid var(--dourado);
    text-align: center;
    border-radius: 25px;
}

.card img {
    border-radius: 25px 25px 0px 0px;
}

.carde h2 {
    font-size: 1.3rem;
    margin: 15px 0px;
}

.card p {
    color: var(--dourado);
    text-align: left;
    padding: 0px 15px 30px 15px;
}


/* topo do site */

#topo {
    position: fixed;
    right: 15px;
    bottom: 10px;
}

/* scroll suave */
html {
    scroll-behavior: smooth;
}

.flex5 {
    display: flex;
    flex-direction: column-reverse;
}

/* Fim - Layout <<<<<<<<<<<<<<<<<<<< */


/* Smartphone Portrait >>>>>>>>>>>>> */

/* cabeçalho */
header {
    height: 65px;
    background-color: var(--preto);
}

#logo img {
    width: 128px;
    height: 128px;
}

#check {
    display: none;
}

label {
    color: rgba(156, 254, 200, 0.75);
    font-size: 3rem;
    position: fixed;
    right: 15px;
    top: 5px;
}

nav ul {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 60px;
    right: -65%;
    width: 65%;
    transition: all 0.5s;
}

/* ação para a caixa checkbox */
/* quando selecionado mudar propriedades ul */
#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;

}

nav ul li a {
    text-decoration: none;
    color: var(--rosa);
    font-size: 1.3rem;
}


/* Principal */
main {
    height: 50vh;
    background: url(./Img/Salão.jpg);
    background-size: cover;
    background-position: center;

}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 2.0rem;
    color: var(--preto);
    font-family: "Opens Sans", sans-serif;
    text-shadow: 0px 5px 10px var(--cinzaClaro), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}


main h2 {
    color: var(--rosa);
    font-size: 1.3rem;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;

}

/* DESTAQUE */
#destaque {
    padding: 50px 5px;
    background: url(./Img/salon-5803542_640.png);
    background-size: cover;
    background-position: center;
}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;

}

#hero-text h2 {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 900;

}

#hero-text p {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
}

.topics {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#destaque #hero img {
    height: 300px;
    width: 300px;
}

.topics p {
    margin-left: 15px;
}

.topics p {
    color: #fff;
}

/* Salao */

#salao1 {
    padding: 50px 0px;
    background: url(./Img/backgroud.png);
    background-size: cover;
    background-position: center;
}

#textosalao {
    color: #241587;
    padding: 0px 10px;

}

#textosalao p {
    margin-bottom: 15px;
    color: var(--preto);
    text-align: center;
}

#destaque img {
    width: 60px;
    height: 60px;
}

#salao .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#video {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#video iframe {
    width: 350px;
    height: 250px;

}

#textosalao h2 {
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 10px;

}

#textosalao p {
    margin-bottom: 25px;
    line-height: 25px;
}

#textosalao span {
    display: none;
}

#qrcode {
    display: none;
}


.Botao {
    display: inline-block;
    background-color: var(--preto);
    color: var(--dourado);
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid var(--cinzaClaro);
}

/* Cartão */

#Salao3 {
    padding: 50px 0px 25px 0px;
}

#Salao3 .container {
    flex-direction: column;
    align-items: center;
}

#Contato {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin: 0px;
}

#textosalao1 {
    margin-top: 20px;
}




/* Rodapé */

address {
    padding: 10px 0px;
    background-size: cover;
    background-position: center;
    background-color: var(--rosa);
    padding: 10px;
}

address img {
    padding-top: 15px;
}

#endereço {
    padding: 10px;
}

footer {
    padding: 15px 0px;
    text-align: center;

}

#googlemaps iframe {
    height: 100px;
    width: 100px;
}

#googlemaps iframe {
    display: none;
}

/* Rodapé */

footer .container {
    justify-content: space-around;
    align-items: center;
}

#Contato a {
  text-decoration: none;
}



/* Fim - Smartphone Portrait <<<<<<< */

/*  CARTOES  */
#salao3 {
    background-color: var(--rosa);
    padding: 50px 0px 25px 0px;
}

#salao3 .container {
    flex-direction: column;
    align-items: center;
}



/* Smartphone Landscape >>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /*  principal  */
    main {
        height: 300px;

    }

    main h1 {
        font-size: 1.75rem;
    }

    main h2 {
        font-size: 2rem;

    }

    /* DESTAQUE */
    #destaque {
        padding: 50px 0px;
    }

    #destaque .container {
        flex-direction: row;
        align-items: center;
    }
    

    #hero {
        text-align: left;
    }

    #hero img {
        width: 200px;
        height: 200px;
        margin: 0px 50px 0px 0px;
    }

    .topics {
        display: none;
    }

    /* Cabeçalho */
    nav ul {
        width: 40%;
        right: -40%;
    }


    /* Contatos */

    address .container {
        justify-content: space-around;
        align-items: center;
    }

    /* Rodapé */

    footer .container {
        justify-content: space-around;
        align-items: center;
    }

    #video iframe {
        width: 500px;
        height: 300px;
    }

}



/* Fim - Smartphone Landscape <<<<<< */


/* Tablet Portrait >>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }

    main h1 {
        font-size: 2.75rem;
    }

    main h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

}

/* Fim - Tablet Portrait <<<<<<<<<<< */


/* Tablet Landscape >>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
    }

    .container {
        flex-direction: column;
    }

    /* CARTOES */
    #Salao3 .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        margin-right: 25px;
    }

}

/* Fim - Tablet Landscape <<<<<<<<<< */


/* Notebook / PC >>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .container {

        max-width: 1140px;
        justify-content: space-between;
    }

    /* Cabeçalho */
    header {
        height: 90px;
    }

    #logo img {
        width: 194px;
        height: 194px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a:hover {
        color: var(--dourado);
    }

    /* Principal */
    main {
        height: 85vh;
        text-align: center;
    }

    /* DESTAQUE */
    #destaque {
        background-attachment: fixed;
        /* para deixar a tela fixa */
    }

    /* DESTAQUE */
    #hero img {
        width: 400px;
        height: 400px;
    }


    .topics {
        display: flex;
        flex-direction: column;
    }

    /*  Salao  */

    #qrcode {
        display: inline;
        display: flex;
    }

    #qrcode img {
        width: 300px;
        height: 300px;

    }

    #textosalao {
        margin: 10px;
    }

    #salao .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    /* Cartões */

    #Salao3 .container {
        flex-direction: row;
    }

    /* Contatos */

    #googlemaps iframe {
        display: flex;
        width: 400px;
        height: 300px;
    }

}


/* Fim - Notebook / PC <<<<<<<<<<<< */


/* Full HD / 4K >>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }


    /* Principal */
    main h1 {
        font-size: 6rem;
    }

    main h2 {
        font-size: 4rem;
    }
}

/* Fim - Full HD / 4K <<<<<<<<<<<< */